
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main {
  margin-top: 32px;
  width: 940px;
}

.home-sec {
  margin-top: 30px;
  margin-bottom: 100px;
}

.home-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 30px 0;
}

.home-img {
  background-image: url('../img/content/home-img.jpg');
  background-color: grey;
  height: 387px;
}

.home-title {
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 47.3392px;
  line-height: 59px;
}

.home-text {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.languages-switcher-button {
  // transform: rotate(-90deg);
  writing-mode: sideways-lr;
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #828282;

  span {
    color: black;
  }
}

.about-sec {
  height: 506px;
  background-color: F6F6F6;
}