.menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  border-bottom: 1px solid #828282;
}

.menu-link {
  font-size: 18px;
  line-height: 22px;
  color: #828282;
  font-family: 'Gilroy';
  font-weight: 800;

  // &:last-child {

  // color: blue;
  // }
  &:hover {
    color: black;
  }
}