@font-face {
  font-family: 'Gilroy';
  font-weight: 800;
  src: url('../fonts/Gilroy-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 600;
  src: url('../fonts/Gilroy-Medium.woff') format('woff');
  font-display: swap;
}